.btnBackground,
.btnBorder {
	display: flex;
	padding: 12px 28px;
	align-items: center;
	justify-content: center;
	border-radius: 80px;
	font-size: 16px;
	font-weight: 400;
	border: none;
	outline: none;
	cursor: pointer;
}

.btnBackground {
	color: #fff;
	background: #001b5c;
}

.btnBorder {
	color: #001b5c;
	border: 1px solid #39a0ff;
	background: transparent;
}

@media (max-width: 425px) {
	.btnBackground {
		font-size: 14px;
	}
}
